body{
    font-family: 'Oswald', sans-serif;
    background: rgb(37, 35, 35);
}

.escribir{
    margin-top: 448px;
    margin-left: 1px;
}

.msj{
    width: 1192px;
    height: 25px;
    border-radius: 20px;
    color: white;
    background: black;
}
.enviar{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: absolute;
    cursor: pointer;
    background: white url(../images/bx-send.svg);
}

